configuration {
	combi-modi: "window,run,drun";
	font:       "JetBrainsMono Nerd Font Mono 12";
	matching:   "fuzzy";
	modi:       "combi,drun,run,window";
	terminal:   "alacritty";
	theme:      "/home/woitek/.config/rofi/themes/custom-dark.rasi";
	width:      75;
}
